body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.header-list{
    text-align: center;
}
.header-list ul{
    list-style: none;
    display: inline-flex;
}
.header-list ul li{
    width: 100px;
    margin: 10px;
    padding: 10px;
    background-color:orange;
    color:white;
    font-weight: 700;
    border-radius: 10px;
    
  
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    text-align: justify;
}
.text-color{
    color: orange;
}
#back-image{
    background-image: url(images/7.png);
}
.flaxible-item{
    display: flex;
    align-items: center;
    margin:30px 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

.link-btn{
    text-decoration: none;
    background-image: linear-gradient(orange,orangered);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 25px;
}
.my-image{
    width: 100%;
}


.descripsion{
    text-align: center;
    padding-top: 40px;
}
.descripsion p{
    text-align: center;
}
.flaxible-food-item{
    display: flex;
    margin:0 40px;
    
}
.food-item{
    width: 30%;
    margin: 5%; 
    padding:20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;
}
.food-item img{
    width: 100%;
}
.followers-item{
    display: flex;
    width: 86%;
    height: 250px;
    margin: 40px 7%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;
}
.followers-cownt{
    width: 80%;
    margin:2%;
    padding-left: 100px;
}

.foot-color{
    color: grey;
}
.footer-side{
    background-color: black;
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.footer-item{
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}
.footer-item p{
    text-align: center;
    color: white;
    font-size: 15px;
}




